@import url(./main.css);

.page-bg {
  height: 550vh;
}

.navbar-brand {
  cursor: pointer;
}

.text-nav-logo {
  cursor: pointer;
}

.text-container {
  display: flex;
  justify-content: center;
}

.text-content {
  display: flex;
  width: 50%;
  position: absolute;
  top: 110%;
  padding: 0;
  margin: 0;
}

.text-content-second {
  display: flex;
  width: 50%;
  position: absolute;
  top: 117.5%;
  padding: 0;
  margin: 0;
}

.text-content-third {
  display: flex;
  width: 50%;
  position: absolute;
  top: 170%;
  padding: 0;
  margin: 0;
}

.content-text {
  color: black;
}

.content-text-second {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  width: 100%;
  font-size: 60px;
  padding: 0;
  margin: 0;
  font-weight: bolder;
  color: #fbbc5e;
  text-align: center;
}

.content-text-third {
  font-family: "Montserrat", serif;
  position: absolute;
  width: 100%;
  font-size: 30px;
  padding: 0;
  margin: 0;
  font-weight: 600;
  color: black;
  text-align: center;
}

.content-text {
  font-family: "Montserrat", serif;
  position: absolute;
  width: 100%;
  font-size: 30px;
  padding: 0;
  margin: 0;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-align: center;
}

.content-box {
  display: inline-flex;
  position: absolute;
  width: 100%;
  top: 130%;
}

.content-text-header {
  font-family: "Montserrat", serif;
  font-weight: 900;
  font-size: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fbbc5e;
}

.desc-text-header {
  font-family: "Montserrat", serif;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  color: #fbbc5e;
}

.desc-text {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  text-align: center;
  margin: 0 15px;
}

.box-container {
  display: flex;
  position: absolute;
  top: 175%;
}

.row-content-first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.row-content-second {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.box-content {
  margin: 50px 50px;
  flex-basis: 25%;
}

.text-content-box {
  display: block;
  background-color: whitesmoke;
  padding: 40px 40px;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #5d426f;
  border-radius: 8px;
}

.ka-text-container {
  position: absolute;
  top: 250%;
}

.ka-text-box {
  text-align: center;
  font-family: "Montserrat", serif;
  font-weight: 900;
  font-size: 50px;
  color: #382810;
}

.ka-desc-text {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin: 30px 100px;
  color: white;
}

.desc-container {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 290%;
}

.desc-container-logo {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 300%;
}

.desc-box-text {
  font-family: "Montserrat", serif;
  font-weight: 900;
  font-size: 30px;
  color: #382810;
  width: 100%;
  text-align: center;
}

.desc-logo-left {
  margin: 40px;
}

.logo-mid {
  margin: 0 20px;
}

.desc-logo-right {
  margin: 40px;
}

.header {
  margin: 15px 0px;
  padding: 5px 0;
  font-family: "Montserrat", serif;
  font-weight: bolder;
  font-size: 20px;
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 15px;
  color: #5d426f;
}

.text {
  font-family: "Montserrat", serif;
  font-weight: 600;
  text-align: center;
  color: white;
}

.dg-container {
  position: absolute;
  top: 385%;
  width: 100%;
  text-align: center;
}

.dg-header {
  font-size: 30px;
  font-family: "Montserrat", serif;
  font-weight: 900;
  color: #fbbc5e;
  padding: 20px;
}
.dg-foto {
  margin: 20px 0;
  padding: 20px;
}

.social-text-container {
  display: flex;
  justify-content: center;
}

.social-container {
  display: flex;
  justify-content: center;
}

.social-content {
  display: flex;
  position: absolute;
  top: 500%;
  padding: 0;
  margin: 0;
}

.social-text {
  font-family: "Montserrat", serif;
  position: absolute;
  width: 100%;
  font-size: 30px;
  padding: 0;
  margin: 0;
  font-weight: 600;
  color: white;
  text-align: center;
  top: 510%;
}

.social-logo-content {
  display: flex;
  position: absolute;
  top: 520%;
}

.social-logo img {
  margin-left: 20px;
  margin-right: 20px;
}
